* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #111827;
    color: white;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.name span {
    color: #00c6ff;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 35px;
    transition: .5s;
}

nav a:hover {
    color: #00c6ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    background: #1f1f1f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    transition: .3s;
}

nav a:hover {
    color: #00c3ff;
}

.main {
    background-color: white;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer .column {
    background-color: rgb(111, 137, 138);
}

.topsale {
    padding: 0px 3%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin-bottom: 20px;
}

h3 {
    margin-left: 20px;
}

h2 {
    font-size: 40px;
    padding: 0px 3%;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    margin-left: 25px;
    margin-bottom: 50px;
}

.topsale .column {
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid darkgray;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.4);
}

.topsale .column img {
    width: 100%;
    height: auto;
}

.product-info {
    margin-top: 10px;
}

.product-name {
    font-weight: bold;
    font-size: 20px;
    margin-top: 4px;
}

.product-des {
    font-size: 15px;
    color: darkgray;
    margin-top: 4px;
}

.price {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.product-price {
    color: rgb(237, 10, 10);
    font-size: 20px;
    text-decoration: line-through;
}

.product-discount {
    font-size: 20px;
    color: blue;
}

.final-price {
    font-size: 30px;
    margin-left: 10px;
    color: black;
}

button {
    margin-top: 5px;
    background-color: rgb(34, 128, 133);
    color: aliceblue;
    padding: 10px 10px;
    border-radius: 5px;
    border: 0cap;
    cursor: pointer;
}

button :hover {
    background-color: darkblue;
    color: white;
}

p {
    color: darkgray;
}

.contact {
    list-style: none;
    padding: 0;
}

.contact li {
    padding: 3px;
    margin-left: 10px;
}

.contact li a {
    text-decoration: none;
    color: black;
}

.contact li a:hover {
    background-color: darkblue;
    border-radius: 3px;
    color: rgb(206, 195, 195);
}

.bran-name {
    font-size: 28px;
    font-weight: bold;
}